* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
}


/* API.HTML */

.container {
    padding: 10px;
}

.container__videos {
    align-items: center;
    text-align: center;
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 25rem), 1fr));
    grid-auto-flow: dense;
}

.card__copada {
    width: 100%;
    height: 345px;
    padding-top: 10px;
    background: blue;
}